.cuadrado
{
	width: 150px;
	height: 150px;
	margin-right: 20px;
	background-color: gray;
	border: solid  black 1px;
	display: inline-block;
	margin-top: 20px;
	cursor: pointer;
}

.todo
{
	position: relative;
	margin-top: 35px;
	right: -400px;
}